<% content_for :title do %>New Meeting<% end %>
<div class="row">
  <div class="large-12 columns">
    <h3>New Meeting</h3>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <div class="panel">
     <div class="form">
       <%= simple_form_for @meeting do |f| %>
         <%= f.error_notification %>
         <%= f.input :name %>
         <%= f.input :address_facility, label: 'Building' %>
         <%= f.input :address_street, label: 'Street' %>
         <%= f.input :address_city, label: 'City' %>
         <%# f.input :weekday, label: 'Day', collection: Group.weekday.map {|k, v| [k, k]} %>
         <%# f.input :weekday, label: 'Day', collection: Group.weekdays %>
         <%= f.input :weekday, label: 'Day', collection: Group.weekdays.collect {|k,v| [k.titleize,k]} %>
         <%= f.input :time %>
         <%= f.input :closed %>
         <%= f.input :accessible, label: 'Wheelchair access' %>
         <%= f.button :submit %>
       <% end %>
     </div>
    </div>
  </div>
</div>
