<% content_for :title do %><%= @meeting.name %><% end %>
<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 content-columns meeting-detail">
          <h3><%= @meeting.name %></h3>
          <% if @meeting.temp_closure? and not @meeting.video_conference_url.present? %>
            <h4>MEETING IS TEMPORARILY CANCELLED</h4>
          <% end %>
          <% if @meeting.video_conference_url.present? %>
            <br>
            <h4>Online Meeting Available:</h4>
            <div>
              <strong>To join online meeting, click the button below.  Meeting starts at the indicated time, and it's recommended that you "arrive" early.  If you're prompted for a password, exit out of the Zoom app completely and try the link again.</strong>
            </div>
            <br>
            <div>
              <%= link_to "Enter Meeting", @meeting.video_conference_url, target: '_blank', class: "button" %>
            </div>
            <br>
          <% end %>
          <div>
            <%= @meeting.weekday.titleize %>, 
            <%= @meeting.time.strftime("%l:%M %p") %>
          </div>
          <div>
            <%= @meeting.facility %>
          </div>
          <div>
            <%= @meeting.street %>
          </div>
          <div>
            <%= @meeting.city %>
          </div>
          <div>
            <strong>Type: </strong>
            <%= if @meeting.category.titleize.eql?("Closed") %>
              C - Closed meetings are for A.A. members only, or for those who have a drinking problem and "have a desire to stop drinking".
            <% else %>
              O - Open meetings are available to anyone interested in Alcoholics Anonymous' program of recovery from alcoholism.  Nonalcoholics may attend open meetings as observers.
            <% end %>
          </div>
          <% if @meeting.format %>
            <div>
              <strong>Format: </strong><%= @meeting.format.titleize %>
            </div>
          <% end %>
          <div>
            <strong>Wheelchair Access: </strong><%= @meeting.accessible? ? "Yes" : "No" %>
          </div>
          <% unless @meeting.notice.blank? %>
            <div>
              <strong>Notice:  </strong><%= @meeting.notice %>
            </div>
          <% end %>
        </div>
      </div>
      <br> 
      <% unless @meeting.facility.starts_with?("Online") %>
        <div class="row">
          <div class="small-12 columns">
            <div id="map"></div>
          </div>
        </div>
      <% end %>`
    </div>
  </div>
</div>

<%# TODO:  allow group admin to edit. %>
<div class="small-12 content-columns">
  <%= link_to "Back", :back, class: "button" %>
  <% if current_member %>
    <% if current_member.has_role? :admin %>
      <%= link_to 'Edit', edit_meeting_path(@meeting), class: "button" %>
      <%= link_to 'Delete', meeting_path(@meeting), class: "button", method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
buildMap(<%= raw @meeting.marker.to_json %>);
</script>
