<% content_for :title do %><%= @meeting.name %><% end %>
<div class="large-12 columns">
  <h3><%= @meeting.name %></h3>
  <p>
    <%= @meeting.weekday.titleize %>
    <br>
    <%= @meeting.time.strftime("%l:%M %p") %>
    <br>
    <%= @meeting.facility %>
    <br>
    <%= @meeting.street %>
    <br>
    <%= @meeting.city %>
    <br>
    <strong>Type: </strong><%= @meeting.category.titleize %>
    <br>
    <strong>Format: </strong><%= @meeting.format.titleize unless @meeting.format.nil?%>

   </p>
</div>
<%# TODO:  allow group admin to edit. %>
<div class="large-12 columns">
  <%= link_to "Back", :back, class: "button" %>
  <% if current_member %>
    <% if current_member.has_role? :admin %>
      <%= link_to 'Edit', edit_meeting_path(@meeting), class: "button" %>
    <% end %>
  <% end %>
</div>

