<% content_for :title do %>District 34 Medallions<% end %>
<div class="row">
  <div class="full-centered">
    <% if @group.present? %>
      <h3><%= "#{@group.name} Medallions" %></h3>
    <% else %>
      <h3>District 34 Medallions</h3>
      <p>Please check the events page <%= link_to 'here', page_path('events') %> for online medallion celebrations.</p>
    <% end %>
  </div>

  <div class="large-12 columns"><br></div>
  <div class="large-12 content-columns">
    <%# ----------- Medium to Large displays -----------%>
    <div class="table-panel">
      <table>
        <tr>
          <% if current_member and @group.present? %>
            <% if current_member.has_role? :admin %>
              <th>id</th>
            <% end %>
          <% end %>
          <th>Name</th>
          <th>Years</th>
          <th>Date</th>
          <th>Group</th>
        </tr>

        <% @medallions.each do |medallion| %>
          <tr>
            <% if current_member and @group.present? %>
              <% if current_member.has_role? :admin %>
                <td><%= link_to medallion.id, medallion_path(medallion) %></td>
              <% end %>
            <% end %>
            <td><%= medallion.member.name %></td>
            <td>
              <% if medallion.years > 1 %>
                <%= "#{medallion.years} years" %>
              <% else %>
                <%= "#{medallion.years} year" %>
              <% end %>
            </td>
            <td><%= medallion.date.strftime('%B %e') %></td>
            <td><%= medallion.group.name %></td>
          </tr>
        <% end %>
      </table>
    </div>
    <%# ----------------------------------------------%>

    <%#-------------- Small Displays -----------------%>
    <div class="item-panel-wrapper">
      <% @medallions.each do |medallion| %>
        <div class="item-panel">
          <% if current_member and @group.present? %>
            <% if current_member.has_role? :admin %>
              <%= link_to medallion.id, medallion_path(medallion) %>,
            <% end %>
          <% end %>
          <%= medallion.member.name %>,
          <% if medallion.years > 1 %>
            <%= "#{medallion.years} years, " %>
          <% else %>
            <%= "#{medallion.years} year, " %>
          <% end %>
          <%= medallion.date.strftime('%B %e') %><br/>
          <%= medallion.group.name %>
        </div>
      <% end %>
    </div>
  </div>
</div>

