<% content_for :title do %>Add Medallion<% end %>
<div class="row">
  <div class="large-12 columns">
    <h3>Add Medallion</h3>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <div class="panel">
     <div class="form">
       <%= simple_form_for(@medallion, url: group_medallions_path(@group))  do |f| %>
         <%= f.error_notification %>
         <%= f.association :meeting, collection: @group.meetings, label_method: :name %>
         <%= f.association :member, collection: @group.members, label_method: :name %>
         <%= f.input :date_str, label: 'Date' %>
         <%= f.button :submit %>
       <% end %>
     </div>
    </div>
  </div>
</div>
