<div class="row">
  <div class="large-12 columns">
    <h3><%= @group.name %></h3>
  </div>
  <div class="large-12 columns">
    <%= link_to "Back", :back, class: "button" %>
    <% if current_member %>
      <% if current_member.has_role? :admin %>
        <%= link_to 'Edit', edit_group_path(@group), class: "button" %>
        <%= link_to 'Destroy', group_path(@group), class: "button", method: :delete, data: { confirm: 'Are you sure?' } %>
        <%= link_to 'Medallions', group_medallions_path(@group), class: "button" %>
        <%= link_to 'Add Medallion', new_group_medallion_path(@group), class: "button" %>
      <% end %>
    <% end %>
  </div>
</div>
