<% content_for :title do %>
  AA District 34 Quinte East - Events
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="small-12 columns events-title">
          <strong>Upcoming Events</strong>
        </div>
      </div>
      </br>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Nov</h3>
            <h4>27</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Lenox Group", '/meetings/22' %> 67th Anniversary</h2>
          </div>
          <div class="event-detail-date">
            27 November 2016 8pm
          </div>
          <div class="event-detail-venue">
            <div>Trinity United Church</div>
            <div>25 Bridge St E</div>
            <div>Napanee, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>10</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Bath Rebuilders", '/meetings/36' %> Gratitude Meeting</h2>
          </div>
          <div class="event-detail-date">
            10 December 2016 6pm
          </div>
          <div class="event-detail-venue">
            <div>Bath United Church</div>
            <div>402 Academy St</div>
            <div>Bath, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>19</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Foxboro Friendship", '/meetings/4' %> Gratitude Meeting</h2>
          </div>
          <div class="event-detail-date">
            19 December 2016 8pm
          </div>
          <div class="event-detail-venue">
            <div>United Church</div>
            <div>458 Ashley St</div>
            <div>Foxboro, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>22</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Qunite Group", '/meetings/13' %> Gratitude Meeting</h2>
          </div>
          <div class="event-detail-date">
            22 December 2016 8pm
          </div>
          <div class="event-detail-venue">
            <div>Eastminster United Church</div>
            <div>432 Bridge St E</div>
            <div>Belleville, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>25</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%= link_to "Happy Destiny", '/meetings/19' %> Gratitude Meeting</h2>
          </div>
          <div class="event-detail-date">
            25 December 2016 10am
          </div>
          <div class="event-detail-venue">
            <div>Foster Ward Community Centre</div>
            <div>75 St Paul St</div>
            <div>Belleville, ON</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>

      <div class="row">
        <div class="small-3 medium-2 large-1 columns">
          <div class="date-icon">
            <h3>Dec</h3>
            <h4>30</h4>
          </div>
        </div>

        <div class="small-9 medium-10 large-11 content-columns event-detail">
          <div class="event-detail-title">
            <h2><%== link_to "New Year's Clean & Sober Masquerade Ball", '/documents/New_Years_Clean_and_Sober_Dance.pdf', target: '_blank' %></h2>
          </div>
          <div class="event-detail-date">
            <div>30 December 2016 Dinner 7pm</div>
            <div>Dance 8pm - 11pm</div>
            <div>$25 Dinner & Dance</div>
          </div>
          <div class="event-detail-venue">
            <div>Kingston Shriners </div>
            <div>3260 Princess St</div>
            <div>Kingston, ON</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="small-12 content-columns"><hr></div>
      </div>
   
    </div>
  </div>
</div>

