<% content_for :title do %>
  Alcoholics Anonymous District 34 Quinte East
<% end %>

<div class="small-12 content-columnns">
  <div class=home-orbit-container>
    <ul data-orbit data-options="pause_on_hover:false; timer_speed:10000">
      <li><%= image_tag "slider_park_bench.jpg" %></li>
      <!--li><%# link_to image_tag("2015_Ottawa_Con.jpg"), 'http://spring.ottawaaa.org/', target: '_blank' %></li-->
    </ul>
    <br/>
  </div>
</div>

<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>ALCOHOLICS ANONYMOUS®</strong></div>
      <p>is a fellowship of men and women who share their experience, strength and hope with each other that they may solve their common problem and help others to recover from alcoholism.</p>
      <p>The only requirement for membership is a desire to stop drinking. There are no dues or fees for A.A. membership; we are self-supporting through our own contributions.</p>
      <p>A.A. is not allied with any sect, denomination, politics, organization or institution; does not wish to engage in any controversy; neither endorses nor opposes any causes.</p>
      <p>Our primary purpose is to stay sober and help other alcoholics to achieve sobriety.</p>
      <div class="quote-credit">
        AA Preamble, Reprinted with permission of A.A. Grapevine, Inc.
      </div>
    </div>
  </div>

<!--
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <p>Alcoholics Anonymous is a worldwide fellowship of men and women who help each other maintain sobriety and who offer to share their recovery experience freely with others who may have a drinking problem. The program A.A. suggests consists basically of "Twelve Steps" designed for personal recovery from alcoholism.</p>
    </div>
  </div>
</div>
-->

<!--div class="row"-->
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>NEED HELP?</strong></div>
      <p><%= link_to 'Click here', page_path('about') %> if you want information about Alcoholics Anonymous or you want help to stop drinking. If you want to talk to an alcoholic call:</p>
      <div><strong>1-877-961-2134</strong></div>
    </div>

    <div class="text-panel">
      <div><strong>ANONYMITY</strong></div>
      <p>We observe all Alcoholics Anonymous principles and Traditions on our web site. As anonymity is the "spiritual foundation of all our Traditions", we practice anonymity on our web site at all times. The Quinte East District 34 web site is a public medium which has the potential for reaching the broadest possible audience and, therefore, requires the same safeguards that we use at the level of press, radio and film.</p>
      <%# TODO: Ajdust column heights to be even %>
      <div> </div>
    </div>
  </div>
<div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>COVID-19 Meeting Cancellations/Online Meetings</strong></h3></div>
      <div class="text-center">
        <p>Please check our <strong><%= link_to 'meetings', '/meetings' %></strong> pages for the most up to date information on meeting cancellations.</p>
      </div>
      <br>
      <div><h4><strong>New Hope Group Temporary Meetings Cancelled</strong></h4></div>
      <div>
        <p><strong>UPDATE: </strong>Temporary meetings at New Hope Church have been suspended due to gathering restrictions in place now.</p>
      </div>
      <div><h4><strong>Online Meetings</strong></h4></div>
      <div>
        <p>If you're having trouble finding a meeting, why don't you try joining one online?<p>
      </div>
      <div>
        <h5><strong>Online Meetings in our District</strong></h5>
        <ul>
          <li><%= link_to 'One Page At a Time Group', 'meetings/55' %>, Tues, 7:30pm</li>
          <li><%= link_to 'Consecon Better Life Group', 'meetings/1' %>, Tues, 7:30pm</li>
          <li><%= link_to 'Triangle Unity Online', 'meetings/56' %>, Thur, 7pm</li>
          <li><%= link_to 'One Page At a Time Group', 'meetings/44' %>, Fri, 7:30pm</li>
          <li><%= link_to 'New Hope Group', 'meetings/23' %>, Sun, 8:00pm</li>
        </ul>
      </div>
        <h5><strong>Online Meetings in other Areas</strong></h5>
        <ul>
          <li><%= link_to 'Ajax Saturday Speaker Series', '/documents/saturday_speaker_series.pdf', target: '_blank' %>, Closed Speaker Meeting, Sat, 8pm</li>
          <li><%= link_to 'AA Online Intergroup', 'http://aa-intergroup.org/', target: '_blank' %></li>
          <li>AA Unity Group, Quinte West, Mon-Fri, 12pm & 8pm - <%=  link_to 'Click here to enter meeting', 'https://zoom.us/j/3247241393',  target: '_blank' %></li>
        </ul>
      </div>

    </div>
</div>

<!--div class="small-12 content-columns">
    <div class="text-panel">
      <div><h3 class="text-center"><strong>URGENT!  Public Information Chairperson Needed</strong></h3></div>
      <p>District 34 now has a vacant position for Public Information Chair, and we'd like to reach out to all of our groups to fill this position as quickly as possible.  One of the responsibilities of the PI Chair is to manage our telephone answering service, which is one of our most important tools in helping the Alcoholic who still suffers.  Anyone interested in filling this position can send an email to our DCM or Webmaster through this website, or attend the next District table meeting in person.</p>
    </div>
  </div-->`

<!--div class="small-12 content-columns">
  <div class="text-panel">
    <div><h3 class="text-center"><strong>NOTICE: December District Table Meeting Canceled</strong></h3></div>
    <p>There will NOT be a District Meeting in December, as the meeting would fall on Boxing Day.  The regular District Meeting will resume in January on January 30, 2020 at 8:00.</p>
  </div>
</div-->

  <div class="small-12 content-columns">
    <div class="text-panel">
      <div><strong>Meeting Guide App</strong></div>
      <div>
        Quinte East District 34 meeting listings are now available on the Meeting Guide App for iPhone and Android.  You can now find the meetings that are closest to you from your smartphone, whether you're home or away.
      </div>
      <hr>
      <div>
        <%= link_to image_tag("download-apple-new.svg"), 'https://itunes.apple.com/us/app/meeting-guide/id1042822181', target: '_blank' %>
        <%= link_to image_tag("download-google-new.svg"), 'https://play.google.com/store/apps/details?id=org.meetingguide.app', target: '_blank' %>
      </div>
    </div>
  </div>
<!--
    <div class="text-panel">
      <p><strong>OUT OF THE FOG GROUP MOVING</strong></p>
      <div>
        <p>Effective <strong>Tuesday December 1</strong>, Out of the Fog meetings will be held at:</p>
        <div><strong>Westdale Park Free Methodist Church</strong></div>
        <div><strong>7 Richmound Park Drive, Napanee</strong></div>
        <p>(adjacent to Napanee Hospital)</p>
        <p>Meeting time is changed to <strong>7:30pm</strong></p>
      </div>
    </div>
  </div>
  --->

</div>
