<% content_for :title do %>
  AA District 34 Quinte East - Resources
<% end %>

<br>
<div class="row">
  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
      <div><strong>District 34 Resources</strong></div>
      <ul>
        <li><%= link_to "Operating Procedures", "/documents/operating_procedures.pdf", target: "_blank" %></li>
        <li><%= link_to "Medallions, Birthdays, and Group Anniversaries Form", "/documents/medallions_form.pdf", target: "_blank" %></li>
        <li><%= link_to "Events Form", "/documents/events_form.pdf", target: "_blank" %></li>
      </ul>
    </div>
  </div>

  <div class="small-12 large-6 content-columns">
    <div class="text-panel">
       <div><strong>Corrections Forms</strong></div>
       <ul>
          <li><%= link_to "Application for Bath", "/documents/bath_corrections_application.pdf", target: "_blank" %></li>
          <li><%= link_to "Application for Napanee", "/documents/napanee_corrections_application.pdf", target: "_blank" %></li>
        </ul>
    </div>
  </div>
      
</div>

