<% content_for :title do %>
  AA District 34 Quinte East - Other AA Sites 
<% end %>

<br>
<div class="row">
  <div class="small-12 content-columns">
    <div class="text-panel">
      <div class="row">
        <div class="full-centered">
          <div>
            <h4><strong>Links to other A.A. sites in Area 83</strong></h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="small-12 content-columns">
          <p>The following links are provided as a service for information only.  District 34, Quinte East, has no control or affiliation with the sites directly and therefore no responsibility for the content of same.</p>
        </div>
      </div>
      <div class="row">
        <div class="small-12 medium-6 large-4 content-columns">
          <ul>
            <li><%= link_to "Area 83", "http://area83aa.org/",  target: "_blank" %></li>
            <li><%= link_to "District 30 Quinte West", "http://www.quintewestaa.org",  target: "_blank" %></li>
          </ul>
        </div>
        <div class="small-12 medium-6 large-4 content-columns">
          <ul>
            <li><%= link_to "Area 83", "http://area83aa.org/",  target: "_blank" %></li>
            <li><%= link_to "District 30 Quinte West",  target: "_blank" %></li>
          </ul>
        </div>
        <div class="small-12 medium-6 large-4 content-columns">
          <ul>
            <li><%= link_to "Area 83", "http://area83aa.org/",  target: "_blank" %></li>
            <li><%= link_to "District 30 Quinte West",  target: "_blank" %></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

