<% content_for :title do %>Quinte East AA - Contact <%= @contact.recipient_name %><% end %>
<div class="row">
  <div class="large-12 columns">
    <h3>Contact <%= @contact.recipient_name %></h3>
  </div>
</div>
<div class="row">
  <div class="small-12 large-8 columns">
    <div class="panel">
     <div class="form">
       <%= simple_form_for @contact, {class: 'form-horizontal'} do |f| %>
         <%= f.error_notification %>
         <%= f.hidden_field :recipient %>
         <%= f.input :name %>
         <%= f.input :email %>
         <%= f.input :subject_str, label: 'Subject' %>
         <%= f.input :message, as: :text %>
         <div class="hidden">
           <%= f.input :nickname, hint: 'Leave this field blank!' %>
         </div>
         <%= f.button :submit, 'Send message' %>
       <% end %>
     </div>
    </div>
  </div>
</div>
