<%# Meeting List navigation %>
<ul class="dropdown">
  <li><%= link_to "Full Meeting List", root_path %></li>
  <li><%= link_to "Monday", root_path %></li>
  <li><%= link_to "Tuesday", root_path %></li>
  <li><%= link_to "Wednesday", root_path %></li>
  <li><%= link_to "Thursday", root_path %></li>
  <li><%= link_to "Friday", root_path %></li>
  <li><%= link_to "Saturday", root_path %></li>
  <li><%= link_to "Sunday", root_path %></li>
</ul>
