<%# add navigation links to this file %>
<li><%= link_to "AA at a Glance", root_path %></li>
<li><%= link_to "Meetings", root_path %></li>
<li><%= link_to "Distict 34 Events", root_path %></li>
<li><%= link_to "Something Else?", root_path %></li>
<li><%= link_to "Contact", root_path %></li>

