<%# add navigation links to this file %>
<li class="name has-dropdown">
  <a>AA at a Glance</a>
  <%= render 'layouts/at_a_glance_dropdown' %>
</li>
<li class="name has-dropdown">
  <a>Meeting List</a>
  <%= render 'layouts/meeting_list_dropdown' %>
</li>
<li class="name has-dropdown">
  <a>Distict 34 Events</a>
  <%= render 'layouts/events_dropdown' %>
</li>
<li class="name"><%= link_to "Contact", root_path %></li>
<li class="right"><%= link_to 'Sign out', destroy_account_session_path, :method=>'delete' %></li>
