<%# add navigation links to this file %>
<li class="name has-dropdown">
  <a>AA at a Glance</a>
  <%= render 'layouts/at_a_glance_dropdown' %>
</li>
<li class="name has-dropdown">
  <a>Meeting List</a>
  <%= render 'layouts/meeting_list_dropdown' %>
</li>
<li class="name has-dropdown">
  <a>Distict 34 Events</a>
  <%= render 'layouts/events_dropdown' %>
</li>
<li class="name has-dropdown">
  <a>District 34 Service</a>
  <%= render 'layouts/service_dropdown' %>
</li>
<li class="name"><%= link_to "Contact", page_path('maintenance') %></li>
<% if current_member %>
  <li class="right has-dropdown">
    <a><%= current_member.member_emails.first.email %></a>
    <%= render 'layouts/current_member_dropdown' %>
  </li>
<%# else %>
  <!--li class="right"--><%# link_to 'Sign in', new_account_session_path %><!--/li-->
<% end %>
