<% content_for :title do %>District 34 Member Edit: <%= @member.name %><% end %>
<div class="row">
  <div class="large-12 columns">
    <h3>Edit Member <%= @member.name %></h3>
  </div>
</div>
<div class="row">
  <div class="large-8 columns">
    <div class="panel">
     <div class="form">
       <%= simple_form_for @member, method: :patch do |f| %>
         <%= f.error_notification %>
         <%# TODO: enforce members can't change their name %>
         <% if current_member.has_role? :admin %>
           <%= f.input :first_name %>
           <%= f.input :last_initial %>
         <% end%>
         <%# TODO: Enforce members can't change their group %> 
         <%# f.association :group %>
         <%= f.input :phone %>
         <%= f.simple_fields_for :member_emails do |me| %>
           <%= me.input :email %>
         <% end %>
         <%# f.input :email %>
         <%# f.input :birthday %>
         <%= f.input :birthday_str, label: 'Birthday' %>
         <fieldset>
           <legend>Options</legend>
           <%= f.label(:viewable) do %>
             Show Birthday:
             <%= hidden_field_tag(:viewable, 0) %>
             <%= check_box_tag(:viewable, 1, @member.has_role?(:viewable)) %>
           <% end %>
         </fieldset>
         <%= f.button :submit %>
       <% end %>
     </div>
    </div>
  </div>
</div>
