<% content_for :title do %>Members<% end %>
<div class="row">
  <div class="large-12 columns">
    <h3>Members</h3>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <table>
      <tr>
        <th>Member</th>
        <th>Group</th>
        <th>Show Birthday</th>
      </tr>

      <% @members.each do |member| %>
        <tr>
          <td><%= link_to member.name, member_path(member) %></td>
          <td>
            <% if member.group %>
              <%= member.group.name %>
            <% else %>
              None
            <% end %>
          </td>
          <td><%= member.has_role?(:viewable).to_s %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="large-12 columns">
    <%= link_to 'Reset all viewable', reset_all_viewable_members_path, method: :post, class: "button" %>
    <%= link_to "Back", :back, class: "button" %>
  </div>
</div>
