<% content_for :title do %>District 34 Member: <%= @member.name %><% end %>
<div class="large-12 columns">
  <h3><%= @member.name %></h3>
  <p>
    <strong>Group:</strong>
    <%= @member.group.name %><br>
    <strong>Phone:</strong>
    <%= @member.phone %><br>
    <strong>Email:</strong>
    <%= @member.member_emails.first.email %><br>
    <strong>Birthday:</strong>
    <%= @member.birthday %>
  </p>
</div>
