<% content_for :title do %>District 34 Member: <%= @member.name %><% end %>
<div class="large-12 columns">
  <h3><%= @member.name %></h3>
  <p>
    <strong>Group:</strong>
    <%= @member.group.name %><br>
    <strong>Phone:</strong>
    <%= @member.phone %><br>
    <strong>Email:</strong>
    <%= @member.member_emails.first.email %><br>
    <strong>Birthday:</strong>
    <%= @member.birthday %><br>
    <strong>Show Birthday:</strong>
    <%= @member.has_role?(:viewable) %>
  </p>
</div>
<% if current_member == @member or current_member.has_role? :admin %>
  <div class="large-12 columns">
    <%= link_to "Back", :back, class: "button" %>
    <%= link_to 'Edit', edit_member_path(@member), class: "button" %>
    <%= link_to 'Destroy', member_path(@member), class: "button", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
